{% extends 'base.html.twig' %}

{% block javascripts %}
<script type="text/javascript" src="js/jquery/jquery.slim.min.js"></script>
<script type="text/javascript" src="js/pitchoun.js"></script>
{% endblock %}

{% block body %}

<div id="top-panel">
    <header>
        <h1>pitchoun!</h1>
    </header>

    {{ form_start(form, {'attr': {'id': 'minify-form'}}) }}
    <div id="main" class="grid-3 has-gutter">
        {% if uri is not null %}
            <div id="result" class="full">
                <p>You can now copy <label for="super-tiny-url">your short URL</label>!</p>
                <input type="text" id="super-tiny-url" name="result" readonly="readonly" value="{{ baseRedirectionUrl }}{{ uri }}">
            </div>
        {% endif %}

        <div id="form" class="full">
            {{ form_label(form.url) }}
            {% if app.request is not null and app.request.hasPreviousSession and app.session.flashBag.peekAll()|length > 0 %}
                <div class="flash a-ah saviour-of-the-universe">
                    {% for flashMessage in app.session.flashBag.get('notice') %}
                        <div class="flash-notice">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashBag.get('error') %}
                        <div class="flash-error">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="two-thirds">
            {{ form_widget(form.url) }}
            <div class="errors">
            </div>
        </div>
        <div>
            {{ form_widget(form.minify) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>

<div id="bottom-panel">
    <footer>
        <dl>
            <dt>pitchoun <span class="pronounciation">(pit.ʃun)</span></dt>
            <dd><i><abbr title="noun">n.</abbr></i> Small child. (vernacular, South of France)</dd>
        </dl>
    </footer>
</div>

{% endblock %}
